<section class="main-body">
    <div class="content">
        <div id="title">
            <h1>My Activities</h1>
            <input type="date" placeholder="dd/mm/yyyy">
        </div>
        <div >
            <div id="heart" class="card">
                <div class="heading">
                    <img src="../../assets/heart-svgrepo-com.svg" alt="heart">
                    <h3>Heart Rate</h3>
                </div>
                <div class="data">
                    <h1>92</h1>
                    <h4>bpm</h4>
                    <img src="../../assets/heart.svg" alt="">
                </div>
            </div>
            <div id="steps">
                <div class="heading">
                    <img src="../../assets/heart-svgrepo-com.svg" alt="heart">
                    <h3>Heart Rate</h3>
                </div>
                <div class="data">
                    <h1>92</h1>
                    <h4>bpm</h4>
                    <img src="../../assets/heart.svg" alt="">
                </div>
            </div>
            <div id="calories">
                <div class="heading">
                    <img src="../../assets/heart-svgrepo-com.svg" alt="heart">
                    <h3>Heart Rate</h3>
                </div>
                <div class="data">
                    <h1>92</h1>
                    <h4>bpm</h4>
                    <img src="../../assets/heart.svg" alt="">
                </div>
            </div>
            <div id="sleep">
                <div class="heading">
                    <img src="../../assets/heart-svgrepo-com.svg" alt="heart">
                    <h3>Heart Rate</h3>
                </div>
                <div class="data">
                    <h1>92</h1>
                    <h4>bpm</h4>
                    <img src="../../assets/heart.svg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="profile">raj</div>
</section>