
.content, .profile{
    border: 1px solid black;
    padding: 1vw;
}
.content{
    grid-area: content;
}
.profile{
    grid-area: profile;
}
.main-body{
    display: grid;
    grid-template-areas: 'content content content profile';
}
#title{
    display: flex;
    justify-content: space-between;
}
#title input{
 width: 15vw;
 border-radius: 10px;
 border: none;
 background-color: #f2f5f8;
 color: #888a8c;
 padding: 2px 5px;
}
.card{
    filter: drop-shadow(1px 1px 2px #888a8c);
    
}
#heart{
    background-image: url(../../../src/assets/heartrate.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: contain;
    box-sizing: border-box;
    width: 24.25%;
    height: 200px;
    min-width: 160px;
    margin-right: 1%!important;
}
.heading{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: start;
    line-height: normal;
    min-height: 22.5px;
    color: #ffffff;
    align-items: center;
    gap: 10px;
    padding: 18px 18px 12px;
    font-weight: 700!important;
    font-size: 20px!important;
    line-height: 125%!important;
    color: #fff!important;
    text-shadow: 1px 1px 0 rgba(0,0,0,.2)!important;
}
.data{
    padding: 60px 18px 12px;
    display: flex;
    gap: 10px;
    font-size: 20px!important;
    color: #ffffff;
    justify-content: center;
    float: left;
    align-items: baseline;
}
.data h1{
    font-size: 36px;
    font-weight: 600;
    color: #fff;
    align-self: baseline;
    width: auto;
    white-space: nowrap;
}
