/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


.content, .profile{
    border: 1px solid black;
    padding: 1vw;
}
.content{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: content;
}
.profile{
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    grid-area: profile;
}
.main-body{
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'content content content profile';
}
#title{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
#title input{
 width: 15vw;
 border-radius: 10px;
 border: none;
 background-color: #f2f5f8;
 color: #888a8c;
 padding: 2px 5px;
}
.card{
    -webkit-filter: drop-shadow(1px 1px 2px #888a8c);
            filter: drop-shadow(1px 1px 2px #888a8c);
    
}
#heart{
    background-image: url(../../../src/assets/heartrate.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: contain;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 24.25%;
    height: 200px;
    min-width: 160px;
    margin-right: 1%!important;
}
.heading{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    line-height: normal;
    min-height: 22.5px;
    color: #ffffff;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    padding: 18px 18px 12px;
    font-weight: 700!important;
    font-size: 20px!important;
    line-height: 125%!important;
    color: #fff!important;
    text-shadow: 1px 1px 0 rgba(0,0,0,.2)!important;
}
.data{
    padding: 60px 18px 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    font-size: 20px!important;
    color: #ffffff;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    float: left;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
}
.data h1{
    font-size: 36px;
    font-weight: 600;
    color: #fff;
    -ms-flex-item-align: baseline;
        align-self: baseline;
    width: auto;
    white-space: nowrap;
}